<div class="image1"><%= image_tag 'nisheet.jpg',:height => '250',:width => '180',:rel => 'lightbox' %></div>
<div class="image1"><%= image_tag 'asis.jpg',:height => '250',:width => '180',:rel => 'lightbox' %></div>
<div class="image1"><%= image_tag 'udit.jpg',:height => '250',:width => '180',:rel => 'lightbox' %></div>
<div class="image1"><%= image_tag 'ashish.jpg',:height => '250',:width => '180',:rel => 'lightbox' %></div>
<div class="image1"><%= image_tag 'bishmeet.jpg',:height => '250',:width => '180',:rel => 'lightbox' %></div>

<div class ="name">
  <%= @person %>
</div>